<html>

<body>

<h2>HTML Forms</h2>

<form action="/submit" method='post'>
  <div> 
  <label for="Science">Science: </label>
  <input type="text" id="Science" name="science" value="0">
  </div>
  <div>
  <label for="Maths">Maths:</label>
  <input type="text" id="Maths" name="maths" value="0">
  </div>
  <div>
  <label for="C">C:</label>
  <input type="text" id="C" name="c" value="0">
  </div>
  <div>
  <label for="DataScience">Data Science: </label>
  <input type="text" id="DataScience" name="data science" value="0">
  </div>
  
  <button type="submit">"Submit" </button>
</form> 

</body>
</html>